.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1{
  background-color:rgb(167, 197, 225) ;
  height: 50px;
  padding: 6px;
  margin: 0px;
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: rgb(112, 141, 194);
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: auto;
  font-weight: 700;
}

li a {
  display: block;
  color: rgb(253, 252, 252);
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

li a.active {
  background-color: rgb(138, 164, 212);
  color: white;
}
.form{
  margin-left: 30%;
  padding-top: 20px;
}
.addForm {
  width:200px;
  padding:20px;
  padding-left: 50%;
}
.input{
  margin-left: 10px;
  padding: 2px;
  width: 130px;
}
.select{
  margin-left: 10px;
  padding: 3px;
  font-weight: 500;
  cursor: pointer;
}
.option{
  cursor: pointer;
}
.msg {
  text-align: center;
}
.label{
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 600;
}
.btn{
  margin-left: 10px;
  background-color: rgb(112, 141, 194);
  border: 2px solid rgb(216, 231, 245);
  color:rgb(255, 255, 255);
  padding: 4px;
  width: 70px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgb(216, 231, 245);
  color:rgb(84, 110, 160);
  font-weight: 500;
}

.btn2{
  margin-left: 10px;
  margin-top: 5px;
  background-color: rgb(112, 141, 194);
  border: 2px solid rgb(216, 231, 245);
  color:rgb(255, 255, 255);
  padding: 5px;
  width: 70px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}
.btn2:hover {
  background-color: rgb(216, 231, 245);
  color:rgb(84, 110, 160);
  font-weight: 500;
}

.btnAddUser{
  margin-left: 10px;
  margin-top: 5px;
  background-color: rgb(253, 252, 252);
  border: 1px solid rgb(112, 141, 194);
  color:rgb(99, 128, 180);
  padding: 4px;
  width: 70px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}
.btnAddUser:hover {
  background-color: rgb(112, 141, 194);
  color:rgb(255, 255, 255);
  font-weight: 500;
}
.label2 {
  font-size: 16px;
  
}

.btnDelete{
  margin-left: 10px;
  background-color: rgb(136, 161, 207);
  border: 2px solid rgb(216, 231, 245);
  color:rgb(255, 255, 255);
  padding: 4px;
  width: 30px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}
.btnDelete:hover {
  background-color: rgb(216, 231, 245);
  color:rgb(84, 110, 160);
  font-weight: 500;
}
.App-link {
  color: #61dafb;
}
table {
  margin-left: 30%;
  margin-top: 20px;
  border-collapse: collapse;
  
}
table, th, td {
  border:1px solid rgb(255, 255, 255);
  padding: 6px;
}
th {
  background-color: rgb(138, 164, 212);
}

thead {
  background-color: rgb(42, 68, 94);
  text-align: center;
  font-weight: 600;
}
tr {
  background-color: rgb(227, 237, 245);
}
.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
